a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
}

/* 画面上部の帯部分 */
.hero {
  width: 100%;
  height: 500px;
  background-image: image-url("26021212_s.jpg");
  background-size: cover;
  background-attachment: fixed;
}

/* //画面上部の帯部分 */
