<%= render "shared/header" %>
<div class='main'>
  <%# 画面上部の帯部分 %>
	<div class='hero min-vh-100 container-fluid  d-flex justify-content-center align-items-center'></div>
</div>
  <%# /画面上部の帯部分  %>
<%= render "shared/footer" %>