body {
  font-family: "Taviraj", serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: center;
}

.bland-logo {
  text-align: center;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;
}

.post-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}

.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}
