<footer class="text-center py-5">
	<div class="mb-4">
		<i class="fa-brands fa-square-facebook fa-4x"></i>
		<i class="fa-brands fa-square-twitter fa-4x mx-5"></i>
		<i class="fa-brands fa-square-youtube fa-4x"></i>
	</div>
	<ul class="mt-3 p-0">
		<li><a href="#">ホーム</a></li>
		<li><a href="#" class="mx-3">サービス概要</a></li>
		<li><a href="#">サービス一覧</a></li>
		<li><a href="#" class="ml-3">お問合せください</a></li>
	</ul>
	<ul class="small mb-5 p-0">
		<li>サービス1</li>
		<li>サービス2</li>
	</ul>
	<p class="mb-0">©︎ 2023 Bootstrap test</p>
</footer>
  